{% extends 'homebase.html' %}
{%  load static %}
{% block title %} {{ setting.title }}{% endblock %}
{% block description %} {{ setting.description}} {% endblock %}
{% block keywords %} {{ setting.keywords}} {% endblock %}


{% block sidebar %} {% include 'sidebar.html' %}  {% endblock %}

{% block body %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">İletişim</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">İletişim</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">İletişim Formu</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate" method="post">
                       {% csrf_token %}
                        {{ form.as_p}}
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Send
                                Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                {{ setting.contact | safe }}
            </div>
        </div>
    </div>
    <!-- Contact End -->




 {% endblock %}


